    body {
        background-color: #F5F5F5;
        margin: 0; /* Eliminar margen predeterminado del cuerpo */
        font-family: Kanit, sans-serif; /* Aplica la fuente "letra" a todo el cuerpo del documento */
    }
    
    header{
        background-color: rgb(255, 255, 255);
        width: 100%; /* Ancho completo */
        overflow: hidden;
        padding: 0px; /* Añadido espacio alrededor de la barra de navegación */
    }
    
    .barra {
        display: flex; /* Utilizamos flexbox para alinear elementos */
        align-items: center; /* Centramos verticalmente los elementos */
        justify-content: space-between; /* Espacio uniforme entre los elementos */
    }
    
    .izquierda{
        display: flex;
        align-items: left;
    }
    
    .izquierda h1{
        color:#767272;
        font-size: 20px;
        font-weight: 500;
        line-height: 50px;
        
    }
    
    .barra img {
        height: 70px; /* Altura del logo */
        padding: 10px; /* Espaciado alrededor del logo */
    }
    
    .botones{
        display: flex;
        align-items: right;
        line-height: 50px;
        color:#F5F5F5;
        font-size:30px ; /* Tamaño del botón */
        align-items:center; /* Centramos verticalmente los elementos */
        list-style: none;
    
    }
    
    .nav-link-green {
        display: flex;
        background-color: rgba(103, 190, 155, 0.8);
        border-radius: 15px; /* Borde redondeado individual para cada botón */
        /*margin-bottom: 10px; /* Agregado espacio inferior para evitar superposiciones */
        margin-right: 10px; /* Modificado para un mejor ajuste en dispositivos móviles */
        padding: 10px 20px; /* Establece el relleno del botón */
        height: 30px;
        align-items:center; /* Centramos verticalmente los elementos */
        box-shadow: 0 2px 4px #00000094; /* Sombra con color blanco */
    }
    
    .nav-link-yellow {
        display: flex;
        background-color: rgba(241, 219, 66, 0.8);
        border-radius: 15px; /* Borde redondeado individual para cada botón */
        /*margin-bottom: 10px; /* Agregado espacio inferior para evitar superposiciones */
        margin-right: 10px; /* Modificado para un mejor ajuste en dispositivos móviles */
        padding: 10px 20px; /* Establece el relleno del botón */
        height: 30px;
        align-items:center; /* Centramos verticalmente los elementos */
        justify-content: center;
        box-shadow: 0 2px 4px #00000094; /* Sombra con color blanco */
    }
    
    .nav-link-red {
        display: flex;
        background-color: rgba(240, 65, 88, 0.8);
        border-radius: 15px; /* Borde redondeado individual para cada botón */
        /*margin-bottom: 10px; /* Agregado espacio inferior para evitar superposiciones */
        margin-right: 10px; /* Modificado para un mejor ajuste en dispositivos móviles */
        padding: 10px 20px; /* Establece el relleno del botón */
        height: 30px;
        align-items:center; /* Centramos verticalmente los elementos */
        justify-content: center;
        box-shadow: 0 2px 4px #00000094; /* Sombra con color blanco */
    
    }
    
    .nav-link-green,
    .nav-link-yellow, 
    .nav-link-red {
        font-weight:bolder;
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
    }
    
    main {
        flex: 1; /* El contenedor principal toma todo el espacio disponible */
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra el contenido horizontalmente */
    }
    
    .banner {
        position: relative;
        width: 100%;
        height: 50vh; /* Ajusta la altura según sea necesario */
        overflow: hidden;
    }
    
    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
        z-index: -1; /* Para que la imagen de fondo esté detrás del contenido */
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .titulo {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(92, 91, 91, 0.65);
        padding: 5px 5px;
        width: 44%;
        color: #ffffff;
        font-size: 40px;
        font-weight: 600;
        text-align: center; /* Centra el texto horizontalmente */
        z-index: 1; /* Asegura que el título esté delante de la imagen */
    }
    
    .containerpropuesta{
        background-color: #95D0B8;
        display: flex; /* Utiliza flexbox para alinear imágenes horizontalmente */
        flex-direction: column; /* Apila los elementos verticalmente */
        border-radius: 20px; /* Borde redondeado */
        padding: 20px; /* Añade espacio interno */
        margin: 70px 0; /* Añade margen arriba y abajo */
        width: 90%; /* Ancho del divisor */
        max-width: 1400px; /* Máximo ancho para centrado en grandes pantallas */
        box-sizing: border-box; /* Incluye el padding en el ancho */
        overflow: hidden; /* Oculta el contenido que desborda del divisor */
        color: #ffffff;
        align-items: center;}

    .yellowbox{
        background-color:rgba(252, 252, 215, 1);
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding: 50px; /* Añade espacio interno */
        margin: -40 px 0; /* Añade margen arriba y abajo */
        width: 90%; /* Ancho del divisor */
        max-width: 1400px; /* Máximo ancho para centrado en grandes pantallas */
        box-sizing: border-box; /* Incluye el padding en el ancho */
        overflow: hidden; /* Oculta el contenido que desborda del divisor */
        color: rgba(118, 114, 114, 1);
        align-items: center;
        margin-bottom: 1cm;
    }
    .yellowbox h1 {
        color: rgba(118, 114, 114, 1);
        align-items: center;
        text-align:center;
    }

    .containerpublico{
        background-color: rgba(241, 219, 66, 1);
        display: flex; /* Utiliza flexbox para alinear imágenes horizontalmente */
        flex-direction: column; /* Apila los elementos verticalmente */
        border-radius: 20px; /* Borde redondeado */
        padding: 20px; /* Añade espacio interno */
        margin: -20px 0; /* Añade margen arriba y abajo */
        width: 90%; /* Ancho del divisor */
        max-width: 1400px; /* Máximo ancho para centrado en grandes pantallas */
        box-sizing: border-box; /* Incluye el padding en el ancho */
        overflow: hidden; /* Oculta el contenido que desborda del divisor */
        align-items: center;
    }
    .containerpublico h1 {
        color: #ffffff;
        align-items: center;
        text-align: center;
    }

    .boxpublico {
    background-color:rgba(252, 252, 215, 1);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px; /* Añade espacio interno */
    margin: -20px 0; /* Añade margen arriba y abajo */
    width: 90%; /* Ancho del divisor */
    max-width: 1400px; /* Máximo ancho para centrado en grandes pantallas */
    box-sizing: border-box; /* Incluye el padding en el ancho */
    overflow: hidden; /* Oculta el contenido que desborda del divisor */
    color: rgba(118, 114, 114, 1);
    align-items: center;
    }
    .boxpublico p{
        color: rgba(118, 114, 114, 1);
        align-items: center;
        text-align:center;
        white-space: pre-wrap;

    }
    .containeridentidad{
        background-color: rgba(240, 65, 88, 0.8);
        display: flex; /* Utiliza flexbox para alinear imágenes horizontalmente */
        flex-direction: column; /* Apila los elementos verticalmente */  
        border-radius: 20px; /* Borde redondeado */
        padding: 20px; /* Añade espacio interno */
        margin: 70px 0; /* Añade margen arriba y abajo */
        width: 90%; /* Ancho del divisor */
        max-width: 1400px; /* Máximo ancho para centrado en grandes pantallas */
        box-sizing: border-box; /* Incluye el padding en el ancho */
        overflow: hidden; /* Oculta el contenido que desborda del divisor */
        color: #ffffff;
        align-items: center;
    }
    .boxid{
        background-color:rgba(252, 252, 215, 1);
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding: 50px; /* Añade espacio interno */
        margin: -40 px 0; /* Añade margen arriba y abajo */
        width: 90%; /* Ancho del divisor */
        max-width: 1400px; /* Máximo ancho para centrado en grandes pantallas */
        box-sizing: border-box; /* Incluye el padding en el ancho */
        overflow: hidden; /* Oculta el contenido que desborda del divisor */
        color: rgba(118, 114, 114, 1);
        align-items: center;
        margin-bottom: 1cm;
        
    }
    .boxid img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%; /* La imagen se ajusta al ancho de su contenedor */
            height: auto; /* La altura se ajusta automáticamente para mantener la relación de aspecto */
    }

    .boxid h1 {
        color: rgba(118, 114, 114, 1);
        align-items: center;
        text-align:center;
    }
    .boxpaleta {
        background: rgba(255, 255, 255, 1);
        width: 100%;
        height: 90%;
        border-radius: 15px;
        margin:auto;

        display: flex; /* Establece un diseño de flexbox */
        flex-wrap: wrap; /* Envuelve los elementos si no caben en una línea */
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center;
    }
    .color-box { 
        width: 167px;
        height: 143px;
        margin: 40px 10px; /* Espacio entre los cuadros */
        border-radius: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative; /* Agregar posición relativa para que el posicionamiento absoluto funcione correctamente */
      }
      
      .color-box p {
        position: absolute; /* Posicionamiento absoluto para ubicar el texto fuera del cuadro */
        bottom: -40px; /* Ajustar según sea necesario para colocar el texto debajo del cuadro */
        width: 100%; /* Asegurar que el texto se extienda a lo ancho del contenedor */
        text-align: center; /* Centrar el texto horizontalmente */
        font-size: 14px;
        color: rgba(118, 114, 114, 1);
        float: inline-end;
      }

.containerrepo{
        background-color: rgba(103, 190, 155, 1);
        display: flex; /* Utiliza flexbox para alinear imágenes horizontalmente */
        flex-direction: column; /* Apila los elementos verticalmente */
        border-radius: 20px; /* Borde redondeado */
        padding: auto; /* Añade espacio interno */
        margin: -14px; /* Añade margen arriba y abajo */
        width: 90%; /* Ancho del divisor */
        max-width: 1400px; /* Máximo ancho para centrado en grandes pantallas */
        box-sizing: border-box; /* Incluye el padding en el ancho */
        overflow: hidden; /* Oculta el contenido que desborda del divisor */
        color: #ffffff;
        align-items: center;
        margin-bottom: 1cm;
}
.containerrepo h1 {
        color: #ffffff;
        align-items: center;
        text-align: center;
    }
    .containerrepo {
        text-align: center; /* Centra el contenido horizontalmente */
        margin-bottom: 1cm;
    }
    
    .linksrepo {
        display: flex; /* Utiliza flexbox */
        flex-direction: column; /* Apila los enlaces verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
    }
    
    .linksrepo a {
        margin: 10px 0; /* Añade espacio entre los enlaces */
    }
    .footer {
        background-color: #67BE9B;
        text-align: center; /* Centrar el texto horizontalmente */
        padding: 5px 0;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Añadir una ligera sombra para la separación visual */
        width: 100%; /* Asegura que el footer ocupe el ancho completo */
        font-size: 14px; /* Ajustar el tamaño de la letra si es necesario */
        opacity: 0.75; /* Ajusta el nivel de transparencia según tu preferencia */
        color: #ffffff;
    }
    

    @media (max-width: 768px) {
        .hamburger {
            display: block;
            background-color: transparent;
            left: 0;
            top: 0;
            height: 30px;
            width: 30px;
            padding: 20px 20px;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-transition: -webkit-transform 0.25s
              cubic-bezier(0.05, 1.04, 0.72, 0.98);
            transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
            z-index: 1002;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          .hamburger.is-active {
            background-color: none;
          }
          ._layer {
            margin-bottom: 4px;
            border-radius: 2px;
            width: 28px;
            height: 4px;
            opacity: 1;
          }
          .-top{
            background-color: #67be9b;
          }
          .-mid{
            background-color: #f1db42;
          }
    
          .-bottom{
            background-color: #f04158;
          }
    
          .menuppal.is_active {
            transform: translate3d(0px, 0px, 0px);
          }
          .menuppal {
            display: flex;
            background-color: #fcfcd7;
            bottom: 0;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            transform: translate3d(0px, -100%, 0px);
            transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
            width: 100%;
            z-index: 1001;
          }
        .botones {
            flex-direction: column;
            align-items: center;
            justify-content: top;
            margin: 35%;
            padding: 0;
        }
        .menuppal ul li {
            list-style: none;
            text-align: center;
            font-size: 1.5rem;
            line-height: 3em;
            height: 3em;
            color: #ffffff;
            text-transform: none;
            font-weight: bold;
        }
        .boxpaleta {
            width: 90%; /* Ajusta el ancho a un valor relativo */
            flex-direction: column; /* Cambia la dirección del flexbox a columna */
            align-items: center; /* Centra los elementos verticalmente */
            height: auto; /* Permite que la altura se ajuste automáticamente según el contenido */
        }
    
        .color-box {
            width: 90%; /* Ajusta el ancho a un valor relativo */
            margin: 20px auto; /* Centra horizontalmente y ajusta el espacio entre los cuadros */
         position: relative;
        }
    
        .color-box p {
            position: absolute; /* Cambia la posición a absoluta */
            bottom: -35px; /* Mueve el texto fuera del cuadro */
            width: 100%; /* Asegura que el texto se extienda a lo ancho del contenedor */
            text-align: center; /* Centra el texto horizontalmente */
            margin-top: 60px;
        
        }

        
        
      
        .footer {
            background-color: #67BE9B;
            text-align: center; /* Centrar el texto horizontalmente */
            padding: 5px 0;
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Añadir una ligera sombra para la separación visual */
            width: 100%; /* Asegura que el footer ocupe el ancho completo */
            font-size: 14px; /* Ajustar el tamaño de la letra si es necesario */
            opacity: 0.75; /* Ajusta el nivel de transparencia según tu preferencia */
            color: #ffffff;
        }
    }
